{% extends 'base.html' %}


{% block content %}
<style type="text/css">
	.card {
		max-width: 700px;
	}
	.container{
		padding: 20px;
	}
</style>

<div class="container">
	<div class="row">
		<!-- blog post-->
		<div class="card m-auto">
			<img class="card-img-top" src="{{ app_post.image.url }}">
			<div class="card-body my-2">
				<h2 class="card-title">{{app_post.title}}</h2>
				<p class="card-text">{{app_post.body | safe}}</p>
				<p>
					{% if app_post.author == request.user %}
					<a href="{% url 'app:edit' app_post.slug %}" class="btn btn-primary">Update</a>
				{% endif %}
				</p>
				
			</div>
			<div class="card-footer text muted">
				Updated on {{app_post.date_updated}} by {{app_post.author}}
			</div>
		</div>	
		<!-- end..blog post-->
	</div>
</div>

{% endblock content %}