<style type="text/css">
	.card{
		max-width: 700px;
		width: 100%;
	}
	.card-body{
		padding: 20px;
		
	}
</style>

{% if app_post %}
<div class="container">
	<div class="row">
		<!-- Blog Post -->
		<div class="card m-auto">
			<a href="{% url 'app:detail' post.slug %}">
				<img class="card-img-top" src="{{app_post.image.url}}">
			</a>
			<div class="card-body mt-2 mb-2">
				<a href="{% url 'app:detail' post.slug %}">
					<h2 class="card-title">{{app_post.title}}</h2>
				</a>
				<p class="card-text">{{app_post.body|safe|truncatechars:180}}</p>
				<p>
					{% if app_post.author == request.user %}
						<a href="{% url 'app:edit' app_post.slug %}" class="btn btn-primary">Update</a>
					{% endif %}
			    </p>
			</div>
			<div class="card-footer text-muted">
			  Updated on {{app_post.date_updated}} by {{app_post.author}}
			</div>
		</div>
	</div>
</div>

{% else %}

<div class="container">
	<div class="row">
		<div class="card m-auto">
			<div class="card-body mt-2 mb-2">
				<h2 class="card-title">No results</h2>
				<p class="card-text">There were no results matching the search: "{{query}}"</p>
			</div>
		</div>
	</div>
</div>

{% endif %}